$rootFontSize: 16px;

$primary-font: 'Cormorant Garamond', Georgia, serif;
$primary-bold: 700;
$primary-normal: 600;
$primary-light: 500;

$secondary-font: 'Raleway', Arial, sans-serif;;
$secondary-bold: 900;
$secondary-normal: 800;
$secondary-light: 700;


$h0: 5.625rem; // 56px > 48px
$em0: 5.625em;
$rem0: $h0;
$h0-mobile: 3.125rem;

$h1: 3.125rem; // 48px > 32px
$em1: 3.125em;
$rem1: $h1;
$h1-mobile: 2.500rem;

$h2: 2rem; // 36px > 26px
$em2: 2em;
$rem2: $h2;
$h2-mobile: 1.444rem;

$h3: 1.556rem; // 28px > 22px
$em3: 1.556em;
$rem3: $h3;
$h3-mobile: 1.222rem;

$h4: 1rem; // 18px > 17px
$em4: 1em;
$rem4: $h4;
$h4-mobile: 0.944rem;

$h5: 0.889rem; // 16px > 14px
$em5: 0.889em;
$rem5: $h5;
$h5-mobile: 0.778rem;

$h6: 0.778rem; // 14px > 12px
$em6:0.778em;
$rem6: $h6;
$h6-mobile: 0.667rem;
