// COMPONENTS: Designed components


%button-disabled-state {
	background-color: $color-dark-light !important;
	border-color: $color-dark-light;
	color: rgba($color-dark, .7) !important;
	cursor: default;
}

%button-base {
	font-family: $primary-font;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}



/*
---
head: <link rel="stylesheet" href="website.css" />
name: Button Large Core
category: 5. Component > Call to Actions
---

Styles for buttons at large screens Buttons can be used with `<a>`, `<button>`, and `<input>` elements. See [Suffixcate](/#suffixcate) for details.

Can be applied to:
- Default
- Base
- Primary
- Secondary
- Teritary
- Dark
- Light

```base-and-default.html
<button class="c-button@large c-button@large--default c-button@large--base">Button</button>
```

```primary.html
<button class="c-button@large c-button@large--default c-button@large--base c-button@large--primary">Button</button>
```

```secondary.html
<button class="c-button@large c-button@large--default c-button@large--base c-button@large--secondary">Button</button>
```

```tertiary.html
<button class="c-button@large c-button@large--default c-button@large--base c-button@large--tertiary">Button</button>
```

```dark.html
<button class="c-button@large c-button@large--default c-button@large--base c-button@large--dark">Button</button>
```

```light.html
<button class="c-button@large c-button@large--default c-button@large--base c-button@large--light">Button</button>
```

*/

/*
---
head: <link rel="stylesheet" href="website.css" />
name: Button Small Core
category: 5. Component > Call to Actions
---

Styles for buttons at small screens Buttons can be used with `<a>`, `<button>`, and `<input>` elements. See [Suffixcate](/#suffixcate) for details.

Can be applied to:
- Default
- Base
- Primary
- Secondary
- Teritary
- Dark
- Light

```base-and-default.html
<button class="c-button@small c-button@small--default c-button@small--base">Button</button>
```

```primary.html
<button class="c-button@small c-button@small--default c-button@small--base c-button@small--primary">Button</button>
```

```secondary.html
<button class="c-button@small c-button@small--default c-button@small--base c-button@small--secondary">Button</button>
```

```tertiary.html
<button class="c-button@small c-button@small--default c-button@small--base c-button@small--tertiary">Button</button>
```

```dark.html
<button class="c-button@small c-button@small--default c-button@small--base c-button@small--dark">Button</button>
```

```light.html
<button class="c-button@small c-button@small--default c-button@small--base c-button@small--light">Button</button>
```

*/

/*
---
head: <link rel="stylesheet" href="website.css" />
name: Button > Primary Core
category: 5. Component > Call to Actions
---

Types of primary buttons
- Core: Base styles
- Default: Spacing and alignment

```core.html
<button class="**-button c-button--primary **" data-component="global.button-primary">
    <span>
       Button
    </span>
</button>
```

```default.html
<button class="** c-button  c-button--base c-button--default c-button--primary **" data-component="global.button-primary">
    <span>
        Button
    </span>
</button>
```
*/


/*
---
head: <link rel="stylesheet" href="website.css" />
name: Button > Secondary Core
category: 5. Component > Call to Actions
---

Types of secondary buttons
- Core: Base styles
- Default: Spacing and alignment

```core.html
<button class="**-button c-button--secondary **" data-component="global.button-secondary">
    <span>
       Button
    </span>
</button>
```

```default.html
<button class="** c-button  c-button--base c-button--default c-button--secondary **" data-component="global.button-secondary">
    <span>
        Button
    </span>
</button>
```
*/


/*
---
head: <link rel="stylesheet" href="website.css" />
name: Button > Tertiary Core
category: 5. Component > Call to Actions
---

Types of tertiary buttons
- Core: Base styles
- Default: Spacing and alignment

```core.html
<button class="**-button c-button--tertiary **" data-component="global.button-tertiary">
    <span>
       Button
    </span>
</button>
```

```default.html
<button class="** c-button  c-button--base c-button--default c-button--tertiary **" data-component="global.button-tertiary">
    <span>
        Button
    </span>
</button>
```
*/


/*
---
head: <link rel="stylesheet" href="website.css" />
name: Button > Dark Core
category: 5. Component > Call to Actions
---

Types of dark buttons
- Core: Base styles
- Default: Spacing and alignment

```core.html
<button class="**-button c-button--dark **" data-component="global.button-dark">
    <span>
       Button
    </span>
</button>
```

```default.html
<button class="** c-button  c-button--base c-button--default c-button--dark **" data-component="global.button-dark">
    <span>
        Button
    </span>
</button>
```
*/

/*
---
head: <link rel="stylesheet" href="website.css" />
name: Button > Light Core
category: 5. Component > Call to Actions
---

Types of light buttons
- Core: Base styles
- Default: Spacing and alignment

```core.html
<button class="**-button c-button--light **" data-component="global.button-light">
    <span>
       Button
    </span>
</button>
```

```default.html
<button class="** c-button  c-button--base c-button--default c-button--light **" data-component="global.button-light">
    <span>
        Button
    </span>
</button>
```
*/


.c-button {
	&--base {
		@include suffixcate {
			@include button-base;
		}
	}

	&--default {
		@include suffixcate {
			@include button-default;
		}
	}

	&--primary {
		@include suffixcate {
			@include button-primary;
		}
	}

	&--secondary {
		@include suffixcate {
			@include button-secondary;
		}
	}

	&--tertiary {
		@include suffixcate {
			@include button-tertiary;
		}
	}

	&--tertiary-reverse {
		@include suffixcate {
			@include button-tertiary-reverse;
		}
	}
}