%header-font {
	@include suffixcate {
		font-family: $secondary-font;
	}
}

%subheader-font {
	@include suffixcate {
		font-family: $primary-font;
	}
}


%title-spacing-0 {
	@include suffixcate {
		letter-spacing: -0.022em;
	}
}

%title-spacing-1 {
	@include suffixcate {
		letter-spacing: 0.167em;
	}
}

%title-spacing-2 {
	@include suffixcate {
		letter-spacing: .125em;
	}
}

%title-spacing-3 {
	@include suffixcate {
		letter-spacing: .26em;
	}
}

%title-emphasized {
	@include suffixcate {
		text-transform: uppercase;
	}
}

.c-page-header {
	@include suffixcate {
		font-family: $secondary-font;
	}

	@include suffixcate {
		font-size: $h1;
		line-height: 1;
	}

	@include suffixcate {
		font-style: italic;
	}

	@include suffixcate {
		font-weight: normal; // book
	}
}

.c-page-subheader {
	@include suffixcate {
		font-family: $primary-font;
	}

	@include suffixcate {
		font-size: $h2;
	}

	@include suffixcate {
		font-weight: 300; // light
	}
}

.c-section-header {
	@include suffixcate {
		font-family: $secondary-font;
	}

	@include suffixcate {
		font-size: $h3;
	}

	@include suffixcate {
		font-style: italic;
	}

	@include suffixcate {
		font-weight: normal; // book
	}

	@include suffixcate {
		text-transform: uppercase;
	}
}

.c-section-subheader {
	@include suffixcate {
		font-family: $primary-font;
	}

	@include suffixcate {
		font-size: $h4;
	}

	@include suffixcate {
		font-weight: normal; // regular
	}

	@include suffixcate {
		text-transform: uppercase;
	}
}

.c-article-header {
	@include suffixcate {
		font-family: $primary-font;
	}

	@include suffixcate {
		font-size: $h4;
	}

	@include suffixcate {
		font-weight: normal; // regular
	}
}

.c-article-subheader {
	@include suffixcate {
		font-family: $primary-font;
	}

	@include suffixcate {
		font-size: $h5;
	}

	@include suffixcate {
		font-weight: normal; // light
	}
}

.c-paragraph-header {
	@include suffixcate {
		font-family: $primary-font;
	}

	@include suffixcate {
		font-size: $h4;
	}

	@include suffixcate {
		font-weight: 300; // light
	}
}


.c-title-block {
	&__header {
		& + .c-title-block__subheader {
			margin-top: $default-space / 2;
		}
	}

	&__subheader {

	}
}



/*
---
name: Font Weights (brand 2)
category: 6. Trumps > Typography
---

Control/override font weights, uses SASS variables from `01-brand/brand-core/_00-settings_typography.scss`

Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


* Primary font bold: Apply `.u-bold`, `.u-b-bold`, `.u-bold-primary`, or `.u-bold-primary-bold` to make primary font bold weight
* Primary font normal: Apply `.u-bold-primary-normal`, `.u-b-normal` to make primary font normal weight
* Primary font light: Apply `.u-bold-primary-light`, `.u-b-light` to make primary font normal weight

* Secondary font bold: Apply `.u-bold-secondary`, `.u-bold-secondary-bold` to make secondary font bold weight
* Secondary font normal: Apply `.u-bold-secondary-normal` to make secondary font normal weight
* Secondary font light: Apply `.u-bold-secondary-light` to make secondary font normal weight

*/

.u-bold, .u-b-bold, .u-bold-primary, .u-bold-primary-bold {
	font-weight: $primary-bold;
}

.u-bold-primary-normal, .u-b-normal {
	font-weight: $primary-normal;
}

.u-bold-primary-light, .u-b-light {
	font-weight: $primary-light;
}


.u-bold-secondary, .u-bold-secondary-bold {
	font-weight: $secondary-bold;
}

.u-bold-secondary-normal {
	font-weight: $secondary-normal;
}

.u-bold-secondary-light {
	font-weight: $secondary-light;
}
