@mixin shared-across-all-form-items {
	outline: none;
	font-size: $em4;
	font-family: $primary-font;
	@include title-setup;
	box-shadow: none;
}

%shared-across-all-form-items {
	@include shared-across-all-form-items;
}


/*
---
name: Branded Label
category: 5. Component > Form
---

Types of labels:
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`

```base.html
	<label class="** c-label **">Label</label>
```

```t-form-1.html
	<input class="** c-label ** t-form-1">Label</label>
```

```t-form-2.html
	<input class="** c-label ** t-form-2">Label</label>

```
*/

@mixin placeholder-styles {
	font-size: $em4;
	font-family: $primary-font;

	line-height: 1;
}

@mixin placeholder-setup {
	&::-webkit-input-placeholder {
	   @include placeholder-styles;
	}

	&:-moz-placeholder {
	   @include placeholder-styles;
	}

	&::-moz-placeholder {
	   @include placeholder-styles;
	}

	&:-ms-input-placeholder {
	   @include placeholder-styles;
	}
}

/*
---
name: Input
category: 5. Component > Form
---

Types of inputs:
- Base
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`
- Disabled states


```base.html
<input class=" ** c-input **   " id="" name="" type="text" />
```

```t-form-1.html
<input class=" ** c-input || t-form-1 **   " id="" name="" type="text" />

```

```t-form-2.html
<input class=" ** c-input || t-form-2 **   " id="" name="" type="text" />

```


```base-disabled.html
<input class=" ** c-input **   " id="" name="" type="text" disabled/>
```

```t-form-1-disabled.html
<input class=" ** c-input || t-form-1 **   " id="" name="" type="text" disabled />

```

```t-form-2-disabled.html
<input class=" ** c-input || t-form-2 **   " id="" name="" type="text" disabled />

```

*/


/*
---
name: Textarea
category: 5. Component > Form
---

Types of textarea:
- Base
- Default: Defined height
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`
- Disabled states


```base.html
<textarea class=" ** c-textarea ** " id="" name=""></textarea>
```

```default.html
<textarea class=" ** c-textarea c-textarea--default ** " id="" name=""></textarea>
```

```t-form-1.html
<textarea class=" ** c-textarea || t-form-1 ** " id="" name=""></textarea>

```

```t-form-2.html
<textarea class=" ** c-textarea || t-form-2 ** " id="" name=""></textarea>

```

```base-disabled.html
<textarea class=" ** c-textarea ** " id="" name="" disabled></textarea>
```

```default-disabled.html
<textarea class=" ** c-textarea c-textarea--default ** " id="" name="" disabled></textarea>
```

```t-form-1-disabled.html
<textarea class=" ** c-textarea || t-form-1 ** " id="" name="" disabled></textarea>

```

```t-form-2-disabled.html
<textarea class=" ** c-textarea || t-form-2 ** " id="" name="" disabled></textarea>

```

*/


/*
---
name: Select
category: 5. Component > Form
---

Types of selects:
- Base
- Default: Defined height
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`
- Disabled states


```core.html
<select id="" name=""><option>Select<option><option>Option<option></select>
```

```base.html
<span class="**  c-select ** u-dis-ib">
	<select class="u-full || c-select__input"  id="" name="" >
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
	</select>
	<span class="c-select--highlight"></span>
	<label class="c-select__text || u-glyph-after u-char-after__item u-char-after__item--default" for="" data-icon="•">
		<span class="u-dis-none">Select</span>
	</label>
</span>
```

```disabled.html
<span class="**  c-select ** u-dis-ib">
	<select class="u-full || c-select__input"  id="" name="" disabled>
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
	</select>
	<span class="c-select--highlight"></span>
	<label class="c-select__text || u-glyph-after u-char-after__item u-char-after__item--default" for="" data-icon="•">
		<span class="u-dis-none">Select</span>
	</label>
</span>
```


```t-form-1.html
<span class="**  c-select || t-form-1 ** u-dis-ib">
	<select class="u-full || c-select__input"  id="" name="" >
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
	</select>
	<span class="c-select--highlight"></span>
	<label class="c-select__text || u-glyph-after u-char-after__item u-char-after__item--default" for="" data-icon="•">
		<span class="u-dis-none">Select</span>
	</label>
</span>

```

```t-form-2.html
<span class="**  c-select || t-form-2 ** u-dis-ib">
	<select class="u-full || c-select__input"  id="" name="" >
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
	</select>
	<span class="c-select--highlight"></span>
	<label class="c-select__text || u-glyph-after u-char-after__item u-char-after__item--default" for="" data-icon="•">
		<span class="u-dis-none">Select</span>
	</label

```

```t-form-1-disabled.html
<span class="**  c-select || t-form-1 ** u-dis-ib">
	<select class="u-full || c-select__input"  id="" name="" disabled>
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
	</select>
	<span class="c-select--highlight"></span>
	<label class="c-select__text || u-glyph-after u-char-after__item u-char-after__item--default" for="" data-icon="•">
		<span class="u-dis-none">Select</span>
	</label>
</span>

```

```t-form-2-disabled.html
<span class="**  c-select || t-form-2 ** u-dis-ib">
	<select class="u-full || c-select__input"  id="" name="" disabled>
		<option value="1">Option 1</option>
		<option value="2">Option 2</option>
	</select>
	<span class="c-select--highlight"></span>
	<label class="c-select__text || u-glyph-after u-char-after__item u-char-after__item--default" for="" data-icon="•">
		<span class="u-dis-none">Select</span>
	</label

```
*/




.c-input, .c-textarea, .c-select {
	@extend %shared-across-all-form-items;
	@include placeholder-styles;
	border-top: none;
	border-right: none;
	border-bottom: rem(2) solid;
	border-left: none;
	border-radius: 0;
}

@mixin placeholder-styles-input-and-text {
	font-size: rem(14) !important;
	line-height: 1.5 !important;
	padding-top: rem(2);
	color: red;
}

@mixin placeholder-styles-input-and-text-browsers  {
	&::-webkit-input-placeholder {
	   @include placeholder-styles-input-and-text;
	}

	&:-moz-placeholder {
	   @include placeholder-styles-input-and-text;
	}

	&::-moz-placeholder {
	   @include placeholder-styles-input-and-text;
	}

	&:-ms-input-placeholder {
	   @include placeholder-styles-input-and-text;
	}
}

.c-input {
	@include placeholder-styles-input-and-text-browsers;
	padding: rem(10) 0 rem(9);
}

.c-select {
	&__text {
		&:after {
			content: "•";
		}
	}

	&__input {
		@extend %shared-across-all-form-items;
		padding: rem(9) rem(40) rem(10) rem(0);

		&:active, &:focus {
			& + .c-select--highlight {
				background-color: $color-secondary-accent;
			}
		}
	}
}

.c-textarea {
	min-height: rem(32);
	padding-top: rem(20);
}


/*
---
name: Radio > Toggle Field
category: 5. Component > Form
---


Intended to be used with `input[type="radio"]` and `input[type="checkbox"]`. Is the base styling to use with either form field types.


```base.html
<span class=" ** t-form-1 || u-dis-ib || c-field-toggle c-radio **  " data-component="global.radio">
	<input class="c-field-toggle__input c-radio__input"  id="default" name="default" type="radio"  />
	<label for="default" class="u-dis-ib c-field-toggle__text c-radio__text">
		
	</label>
</span>
```

```base-checked.html
<span class=" ** t-form-1 || u-dis-ib || c-field-toggle c-radio **  " data-component="global.radio">
	<input checked class="c-field-toggle__input c-radio__input"  id="default" name="default" type="radio"  />
	<label for="default" class="u-dis-ib c-field-toggle__text c-radio__text">
		
	</label>
</span>
```

*/


.c-field-toggle {
	&__text, &__label {
		&:before {
			border: 1px solid;
		}
	}

	&__text {
		padding-left: rem(25);

		&:before {
			width: rem(20);
			height: rem(20);
		}
	}

	&__label {
		&:before {
			width: em(20);
			height: em(20);
		}
	}
}

/*
---
name: Radio
category: 5. Component > Form
---


Types of radio:
- Base
- Default: Defined height
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`
- Disabled states


```core.html
<input  id="radio-core-demo" name="radio-core-demo" type="radio"  />
<label for="radio-core-demo">
	Label
</label>
```

```base.html
<span class=" ** c-field-toggle c-radio **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-base" name="radio-core-base" type="radio"  />
	<label for="radio-core-base" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>
```

```disabled.html
<span class=" ** c-field-toggle c-radio **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-disabled" name="radio-core-disabled" type="radio" disabled />
	<label for="radio-core-disabled" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>
```


```t-form-1.html
<span class=" ** c-field-toggle c-radio || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-1" name="radio-core-theme-1" type="radio" />
	<label for="radio-core-theme-1" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```

```t-form-2.html
<span class=" ** c-field-toggle c-radio || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-2" name="radio-core-theme-2" type="radio" />
	<label for="radio-core-theme-2" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```


```t-form-1-checked.html
<span class=" ** c-field-toggle c-radio || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-1-checked" name="radio-core-theme-1-checked" type="radio" checked />
	<label for="radio-core-theme-1-checked" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```

```t-form-2-checked.html
<span class=" ** c-field-toggle c-radio || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-2-checked" name="radio-core-theme-2-checked" type="radio" checked />
	<label for="radio-core-theme-2-checked" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```

```t-form-1-disabled.html
<span class=" ** c-field-toggle c-radio || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-1" name="radio-core-theme-1" type="radio" disabled />
	<label for="radio-core-theme-1" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```

```t-form-2-disabled.html
<span class=" ** c-field-toggle c-radio || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-2" name="radio-core-theme-2" type="radio" disabled />
	<label for="radio-core-theme-2" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```


```t-form-1-checked-disabled.html
<span class=" ** c-field-toggle c-radio || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-1-checked" name="radio-core-theme-1-checked" type="radio" checked disabled />
	<label for="radio-core-theme-1-checked" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```

```t-form-2-checked-disabled.html
<span class=" ** c-field-toggle c-radio || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-radio__input"  id="radio-core-theme-2-checked" name="radio-core-theme-2-checked" type="radio" checked disabled />
	<label for="radio-core-theme-2-checked" class="u-dis-ib c-field-toggle__text c-radio__text">
		Radio
	</label>
</span>

```

*/



.c-radio {
	&__input {
		@extend %shared-across-all-form-items;
	}

	&__text {
		&:after {
			background-color: currentColor;
			margin-top: rem(5);
			margin-left: rem(5);
			width: rem(10);
			height: rem(10);
		}
	}
}


/*
---
name: Checkbox
category: 5. Component > Form
---


Types of checkbox:
- Base
- Default: Defined height
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`
- Disabled states


```core.html
<input  id="checkbox-core-demo" name="checkbox-core-demo" type="checkbox"  />
<label for="checkbox-core-demo">
	Label
</label>
```

```base.html
<span class=" ** c-field-toggle c-checkbox **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-base" name="checkbox-core-base" type="checkbox"  />
	<label for="checkbox-core-base" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>
```

```disabled.html
<span class=" ** c-field-toggle c-checkbox **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-disabled" name="checkbox-core-disabled" type="checkbox" disabled />
	<label for="checkbox-core-disabled" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>
```


```t-form-1.html
<span class=" ** c-field-toggle c-checkbox || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-1" name="checkbox-core-theme-1" type="checkbox" />
	<label for="checkbox-core-theme-1" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```

```t-form-2.html
<span class=" ** c-field-toggle c-checkbox || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-2" name="checkbox-core-theme-2" type="checkbox" />
	<label for="checkbox-core-theme-2" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```


```t-form-1-checked.html
<span class=" ** c-field-toggle c-checkbox || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-1-checked" name="checkbox-core-theme-1-checked" type="checkbox" checked />
	<label for="checkbox-core-theme-1-checked" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```

```t-form-2-checked.html
<span class=" ** c-field-toggle c-checkbox || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-2-checked" name="checkbox-core-theme-2-checked" type="checkbox" checked />
	<label for="checkbox-core-theme-2-checked" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```

```t-form-1-disabled.html
<span class=" ** c-field-toggle c-checkbox || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-1" name="checkbox-core-theme-1" type="checkbox" disabled />
	<label for="checkbox-core-theme-1" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```

```t-form-2-disabled.html
<span class=" ** c-field-toggle c-checkbox || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-2" name="checkbox-core-theme-2" type="checkbox" disabled />
	<label for="checkbox-core-theme-2" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```


```t-form-1-checked-disabled.html
<span class=" ** c-field-toggle c-checkbox || t-form-1 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-1-checked" name="checkbox-core-theme-1-checked" type="checkbox" checked disabled />
	<label for="checkbox-core-theme-1-checked" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```

```t-form-2-checked-disabled.html
<span class=" ** c-field-toggle c-checkbox || t-form-2 **  u-dis-ib">
	<input class="c-field-toggle__input c-checkbox__input"  id="checkbox-core-theme-2-checked" name="checkbox-core-theme-2-checked" type="checkbox" checked disabled />
	<label for="checkbox-core-theme-2-checked" class="u-dis-ib c-field-toggle__text c-checkbox__text">
		Checkbox
	</label>
</span>

```

*/


.c-checkbox {
	&__input {
		@extend %shared-across-all-form-items;
	}

	&__text {
		&:after {
			content: "X";
			width: rem(20);
		}
	}
}



/*
---
name: Input > Placeholder Styles
category: 5. Component > Form
---

`@mixin placeholder-styles-large` contains styles for inputs `@placeholder` attribute

Types of placeholders:
- Default: No classes
- Base: `.c-input`
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`

```default.html
	<input placeholder="Placeholder" type="text" />
```

```base.html
	<input class="** c-input **" placeholder="Placeholder" type="text" />
```

```t-form-1.html
	<input class="** c-input ** t-form-1" placeholder="Placeholder" type="text"  />
```

```t-form-2.html
	<input class="** c-input ** t-form-2" placeholder="Placeholder" type="text"  />

```

*/

@mixin placeholder-styles-large {
	font-size: $h3;
	font-family: $primary-font;
	line-height: 1;
}

@mixin placeholder-setup-large {
	&::-webkit-input-placeholder {
	   @include placeholder-styles-large;
	}

	&:-moz-placeholder {
	   @include placeholder-styles-large;
	}

	&::-moz-placeholder {
	   @include placeholder-styles-large;
	}

	&:-ms-input-placeholder {
	   @include placeholder-styles-large;
	}
}


