/*
---
name: Font Sizes
category: 6. Trumps > Typography
---

Alignment of header sizes 1-6

Additional options:
*  `.u-fs-1` - Largest font size
*  `.u-fs-2` - 2nd larges font size
*  `.u-fs-3` - Medium font size
*  `.u-fs-4` - Root font size
*  `.u-fs-5` - Step up from smallest font size
*  `.u-fs-6` - Smallest font size

Even more options:

* Add `-alt` suffix: Change font size from `rem` to `em` version
* Add `-before` suffix: Change font size for `:before` pseudo class
* Add `-after` suffix: Change font size for `:after` pseudo class
* Add `-scalable` suffix: To have font scale based on screen width


```demo.html
<p class="u-fs-5">
	Lorem ipsum.
</p>
```
*/

.u-fs-1 {
	@include suffixcate {
		font-size: $h1;
	}

	&-alt {
		@include suffixcate {
			font-size: $em1;
		}
	}

	&-before {
		@include suffixcate {
			&:before {
				font-size: $h1;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				font-size: $h1;
			}
		}
	}

	&-scalable {
		@include suffixcate {
			@include scaleFontDown($bp-1, $h1, $h1-mobile);
		}
	}
}

.u-fs-2 {
	@include suffixcate {
		font-size: $h2;
	}

	&-alt {
		@include suffixcate {
			font-size: $em2;
		}
	}

	&-before {
		@include suffixcate {
			&:before {
				font-size: $h2;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				font-size: $h2;
			}
		}
	}

	&-scalable {
		@include suffixcate {
			@include scaleFontDown($bp-1, $h2, $h2-mobile);
		}
	}
}

.u-fs-3 {
	@include suffixcate {
		font-size: $h3;
	}

	&-alt {
		@include suffixcate {
			font-size: $em3;
		}
	}

	&-before {
		@include suffixcate {
			&:before {
				font-size: $h3;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				font-size: $h3;
			}
		}
	}

	&-scalable {
		@include suffixcate {
			@include scaleFontDown($bp-1, $h3, $h3-mobile);
		}
	}
}


.u-fs-4 {
	@include suffixcate {
		font-size: $h4;
	}

	&-alt {
		@include suffixcate {
			font-size: $em4;
		}
	}

	&-before {
		@include suffixcate {
			&:before {
				font-size: $h4;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				font-size: $h4;
			}
		}
	}

	&-scalable {
		@include suffixcate {
			@include scaleFontDown($bp-1, $h4, $h4-mobile);
		}
	}
}

.u-fs-5 {
	@include suffixcate {
		font-size: $h5;
	}

	&-alt {
		@include suffixcate {
			font-size: $em5;
		}
	}

	&-before {
		@include suffixcate {
			&:before {
				font-size: $h5;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				font-size: $h5;
			}
		}
	}

	&-scalable {
		@include suffixcate {
			@include scaleFontDown($bp-1, $h5, $h5-mobile);
		}
	}
}

.u-fs-6 {
	@include suffixcate {
		font-size: $h6;
	}

	&-alt {
		@include suffixcate {
			font-size: $em6;
		}
	}

	&-before {
		@include suffixcate {
			&:before {
				font-size: $h6;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				font-size: $h6;
			}
		}
	}

	&-scalable {
		@include suffixcate {
			@include scaleFontDown($bp-1, $h6, $h6-mobile);
		}
	}
}



%header-font {
	@include suffixcate {
		font-family: $secondary-font;
	}
}

%subheader-font {
	@include suffixcate {
		font-family: $primary-font;
	}
}


%title-spacing-0 {
	@include suffixcate {
		letter-spacing: -0.022em;
	}
}

%title-spacing-1 {
	@include suffixcate {
		letter-spacing: 0.167em;
	}
}

%title-spacing-2 {
	@include suffixcate {
		letter-spacing: .125em;
	}
}

%title-spacing-3 {
	@include suffixcate {
		letter-spacing: .26em;
	}
}

%title-emphasized {
	@include suffixcate {
		text-transform: uppercase;
	}
}

%title-setup {
	@include suffixcate {
		@include title-setup;
	}
}

/*
---
name: Page Header (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-page-header">Title</h1>
```
*/

.c-page-header, .c-page-header-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include page-header-core;
	}
}


.c-page-header {
	@include suffixcate {
		font-size: $h1;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-1-scalable'));
	}
}

/*
---
name: Page Subheader (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-page-subheader">Title</h1>
```
*/


.c-page-subheader, .c-page-subheader-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include page-subheader-core;
	}
}

.c-page-subheader {
	@include suffixcate {
		font-size: $h3;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-3-scalable'));
	}
}

/*
---
name: Section Header (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-section-header">Title</h1>
```
*/

.c-section-header, .c-section-header-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include section-header-core;
	}
}

.c-section-header {
	@include suffixcate {
		font-size: $h2;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-2-scalable'));
	}
}


/*
---
name: Section Subheader (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-section-subheader">Title</h1>
```
*/

.c-section-subheader, .c-section-subheader-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include section-subheader-core;
	}
}

.c-section-subheader {
	@include suffixcate {
		font-size: $h3;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-3-scalable'));
	}
}

/*
---
name: Article Header (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-article-header">Title</h1>
```
*/


.c-article-header, .c-article-header-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include article-header-core;
	}
}

.c-article-header {
	@include suffixcate {
		font-size: $h3;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-3-scalable'));
	}
}

/*
---
name: Article Header (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-article-subheader">Title</h1>
```
*/

.c-article-subheader, .c-article-subheader-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include article-subheader-core;
	}
}

.c-article-subheader {
	@include suffixcate {
		font-size: $h5;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-5-scalable'));
	}
}



/*
---
name: Paragraph Header (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-paragraph-header">Title</h1>
```
*/

.c-paragraph-header, .c-paragraph-header-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include paragraph-header-core;
	}
}

.c-paragraph-header {
	@include suffixcate {
		font-size: $h4;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-4-scalable'));
	}
}

.c-paragraph-subheader, .c-paragraph-subheader-scalable {
	@include suffixcateExtend(('%title-setup'));

	@include suffixcate {
		@include paragraph-subheader-core;
	}
}

/*
---
name: Paragraph Subheader (brand 2)
category: 5. Component > Typography
---

* Add `-scalable` suffix: To have font scale based on screen width


Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


```base.html
	<h1 class="c-paragraph-subheader">Title</h1>
```
*/

.c-paragraph-subheader {
	@include suffixcate {
		font-size: $h4;
	}

	&-scalable {
		@include suffixcateExtend(('.u-fs-4-scalable'));
	}
}


/*
---
name: Title block (brand 2)
category: 5. Component > Typography
---


```base.html
	<hgroup class="c-title-block">
		<h1 class="c-title-block__header">Title</h1>
		<h2 class=".c-title-block__subheader">Subitle</h2>
	</hgroup>
```
*/


.c-title-block {
	&__header {
		& + .c-title-block__subheader {
			margin-top: $default-space / 2;
		}
	}

	&__subheader {

	}
}


/*
---
name: Font Weights (brand 2)
category: 6. Trumps > Typography
---

Control/override font weights, uses SASS variables from `01-brand/brand-core/_00-settings_typography.scss`

Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


* Primary font bold: Apply `.u-bold`, `.u-b-bold`, `.u-bold-primary`, or `.u-bold-primary-bold` to make primary font bold weight
* Primary font normal: Apply `.u-bold-primary-normal`, `.u-b-normal` to make primary font normal weight
* Primary font light: Apply `.u-bold-primary-light`, `.u-b-light` to make primary font normal weight

* Secondary font bold: Apply `.u-bold-secondary`, `.u-bold-secondary-bold` to make secondary font bold weight
* Secondary font normal: Apply `.u-bold-secondary-normal` to make secondary font normal weight
* Secondary font light: Apply `.u-bold-secondary-light` to make secondary font normal weight

*/

.u-bold, .u-b-bold, .u-bold-primary, .u-bold-primary-bold {
	font-weight: $primary-bold;
}

.u-bold-primary-normal, .u-b-normal {
	font-weight: $primary-normal;
}

.u-bold-primary-light, .u-b-light {
	font-weight: $primary-light;
}


.u-bold-secondary, .u-bold-secondary-bold {
	font-weight: $secondary-bold;
}

.u-bold-secondary-normal {
	font-weight: $secondary-normal;
}

.u-bold-secondary-light {
	font-weight: $secondary-light;
}
