@import "../../00-global/global-core/01-tools_colors";


/*
---
head: |
  <link rel="stylesheet" href="ui-arch.css" />
  <link rel="stylesheet" href="demo.css" />
name: Colors Demo
category: 6. Trumps > Color
---

Generates colors from `@mixin makeColorHelpers()` in `~/00-global/global-core/01-tools.scss`, follows [Naming Convention for Colors](https://codepen.io/nicetransition/pen/QjwbRg?editors=1100).


Update colors in `~/01-brand/colors.json`

All colors

```default.html
<div class="u-a-c">
<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-dark-dark-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark dark
	</li>

	<li class="** u-dark-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark 
	</li>

	<li class="** u-dark-light-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark light
	</li>

	<li class="** u-dark-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-dark-accent-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark accent
		<span class="u-full">reverse</span>
	</li>
</ul>

<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-primary-dark-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary dark
	</li>

	<li class="** u-primary-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary 
	</li>

	<li class="** u-primary-light-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary light
	</li>

	<li class="** u-primary-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-primary-accent-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary accent
		<span class="u-full">reverse</span>
	</li>
</ul>

<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-secondary-dark-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary dark
	</li>

	<li class="** u-secondary-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary 
	</li>

	<li class="** u-secondary-light-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary light
	</li>

	<li class="** u-secondary-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-secondary-accent-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary accent
		<span class="u-full">reverse</span>
	</li>
</ul>



<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-accent-dark-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent dark
	</li>

	<li class="** u-accent-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent 
	</li>

	<li class="** u-accent-light-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent light
	</li>

	<li class="** u-accent-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-accent-accent-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent accent
		<span class="u-full">reverse</span>
	</li>
</ul>

<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-light-dark-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light dark
	</li>

	<li class="** u-light-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light 
	</li>

	<li class="** u-light-light-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light light
	</li>

	<li class="** u-light-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-light-accent-bg ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light accent
		<span class="u-full">reverse</span>
	</li>
</ul>
</div>

```


Reverse colors

```default.html
<div class="u-a-c">
<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-dark-dark-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark dark
	</li>

	<li class="** u-dark-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark 
	</li>

	<li class="** u-dark-light-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark light
	</li>

	<li class="** u-dark-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-dark-accent-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		dark accent
		<span class="u-full">reverse</span>
	</li>
</ul>

<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-primary-dark-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary dark
	</li>

	<li class="** u-primary-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary 
	</li>

	<li class="** u-primary-light-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary light
	</li>

	<li class="** u-primary-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-primary-accent-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		primary accent
		<span class="u-full">reverse</span>
	</li>
</ul>

<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-secondary-dark-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary dark
	</li>

	<li class="** u-secondary-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary 
	</li>

	<li class="** u-secondary-light-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary light
	</li>

	<li class="** u-secondary-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-secondary-accent-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		secondary accent
		<span class="u-full">reverse</span>
	</li>
</ul>



<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-accent-dark-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent dark
	</li>

	<li class="** u-accent-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent 
	</li>

	<li class="** u-accent-light-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent light
	</li>

	<li class="** u-accent-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-accent-accent-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		accent accent
		<span class="u-full">reverse</span>
	</li>
</ul>

<ul class="o-flex o-flex--wrap o-flex--1">
	<li class="** u-light-dark-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light dark
	</li>

	<li class="** u-light-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light 
	</li>

	<li class="** u-light-light-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light light
	</li>

	<li class="** u-light-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light accent
		<span class="u-full">reverse</span>
	</li>

	<li class="** u-light-accent-bg-reverse ** u-min-width-1-of-12 || u-space-1-3-lg-fixed || o-flex o-flex--wrap o-flex--justify-content-center o-flex--align-items-center || u-fs-6">
		light accent
		<span class="u-full">reverse</span>
	</li>
</ul>
</div>

```
*/