// SETTINGS: Global variables, config switches
@import "00-settings";

// TOOLS: Default mixin and functions
@import "01-tools";

// OBJECTS: Cosmetic-free design patterns


/*
---
name: Spacing > Sections
category: 3. Objects
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```


.o-sections {
	@include suffixcate {
		&__section {
			& + & {
				@include units($property: "margin", $version: "half-sized", $variation: (top: true));
			}
		}
	}

	&-lg {
		@include suffixcate {
			&__section {
				& + & {
					margin-top: $default-space;
					//@include units($property: "margin", $variation: (top: true));
				}
			}
		}
	}

	@include suffixcate {
		&-2-4__section {
			& + & {
				@include units($property: "margin", $version: "half-sized", $variation: (left: true));
			}
		}

		&-2-4-lg__section {
			& + & {
				@include units($property: "margin", $version: "two-times", $variation: (left: true));
			}
		}
	}

	@include suffixcate {
		&-2-4-alt__section {
			margin-left: $default-space / -2;

			& + & {
				@include units($property: "padding", $version: "half-sized", $variation: (left: true));
			}
		}
	}

	// @media screen and (min-width: $bp-large) {
	// 	&\@large__section + .o-sections\@large__section {
	// 		@include units($property: "margin", $version: "half-sized", $variation: (top: true));
	// 	}

	// 	&-2-4\@large__section + .o-sections-2-4\@large__section {
	// 		@include units($property: "margin", $version: "half-sized", $variation: (left: true));
	// 	}
	// }

	// @media screen and (max-width: $bp-large) {
	// 	&\@small__section + .o-sections\@small__section {
	// 		@include units($property: "margin", $version: "half-sized", $variation: (top: true));
	// 	}

	// 	&-2-4\@small__section + .o-sections-2-4\@small__section {
	// 		@include units($property: "margin", $version: "half-sized", $variation: (left: true));
	// 	}
	// }
}

/*
---
name: Containers
category: 3. Objects
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```

.o-container-global {
	overflow: hidden;

	@media screen and (min-width: $bp-large) {
		// @include units($property: "margin", $variation: (bottom: true));
	}

	&--constraints {
		// width: 90vw;
	}
}

.o-container-full {
	position: relative;
}

.o-container {
	@include suffixcate {
		&__wrap-full, &__wrap {
			max-width: $max-width;
		}

		&__wrap-full {
			margin-right: auto;
			margin-left: auto;
		}

		&__wrap {;
			@media screen and (min-width: $bp-1) {
				margin-right: auto;
				margin-left: auto;
			}

			@media screen and (max-width: $bp-1) {
				margin-right: $default-space;
				margin-left: $default-space;
			}
		}
	}

	&__inner {
		max-width: $content-width;
		
		margin-right: auto;
		margin-left: auto;
	}

	// &__wrap {
	// 	@include suffixcate {
	// 		@media screen and (min-width: $bp-1) {
	// 			margin-right: auto;
	// 			margin-left: auto;
	// 		}

	// 		@media screen and (max-width: $bp-1) {
	// 			margin-right: $default-space;
	// 			margin-left: $default-space;
	// 		}
	// 	}
	// }
}

/*
---
name: Container > Content
category: 3. Objects
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```

.o-container-content {
	max-width: $content-max-width;
	// width: percentage( $content-max-width / $max-width);

	margin-right: auto;
	margin-left: auto;
}

.o-container-content {
	@include units($variation: (right: true, left: true));
}




%content-columns {
	@include suffixcate {
		column-count: 2;
	}
}


/*
---
name: Content Columns
category: 3. Objects
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```

.c-content-column {
	&-s p {
		@include suffixcateExtend(('%content-columns'));
	}

	&-2 {
		@include suffixcateExtend(('%content-columns'));
	}
}

@import "_04-objects_lists";
@import "04-objects_media-object";
@import "04-objects_grid";

