// SETTINGS: Global variables, config switches
@import "00-settings";

// TOOLS: Default mixin and functions
@import "01-tools";

// COMPONENTS: Designed components


/*
---
name: Content Block
category: 5. Component > Content
---

A nice container for content

```default.html
<article class="c-content-block">
	<header class="c-content-block__header">
		<h2>
			Header
		</h2>
	</header>
	<div class="c-content-block__main">
		<p>
			content here
		</p>
	</div>
	<footer class="c-content-block__footer">
		<a href="#">Link</a>
	</footer>
</article>
```

*/

%content-block-spacing-top {
	padding-top: $default-space;
}


.c-content-block {

	&__header {
		& + .c-content-block__main {
			@extend %content-block-spacing-top;
		}
	}

	&__main {
		// font-family: $seconary-font;

		p:not([class*="reset"]) {
			@include title-setup;
			line-height: 1.5;
		}

		& + .c-content-block__main {
			@extend %content-block-spacing-top;
		}
	}

	&__footer {
		padding-top: $default-space + ($default-space / 2);
	}
}


.c-list, .c-link-list {
	@include suffixcate {
		list-style: none;

		> li {
			position: relative;

			&:before {
				content: "\2022";
				font-size: em(18);
				position: absolute;
				left: -1em;
			}
		}
	}
}

.c-link-list, .c-list-children {
	> li {
		& + li {
			padding-top: $default-space / 4;
		}
	}
}

.c-list {
	@include suffixcate {
		> li {
			&:before {
				color: $color-light-dark;
			}
		}
	}
}

.c-link-list {
	@include suffixcate {
		> li {
			&:before {
				color: $color-primary;
			}
		}
	}
}


.c-side-nav {
	@media screen and (min-width: $bp-large) {
		width: rem(240);
	}
}
.c-section-blocks, .c-group-sections {
	@include suffixcate {
		&__section {
			@include units($version: "two-times", $variation: (bottom: true));
		}

		&__section + &__section {
			padding-top: $default-space + ($default-space / 2);
			padding-bottom: $default-space + ($default-space / 2);
			//@include units($version: "two-times", $variation: (top: true, bottom: true));
		}
	}

	&__section {
		&:first-child {
			// padding-top: $default-space;
		}
	}
}

.c-section-blocks, .c-seperate-section {
	@include suffixcate {
		&__section + &__section {
			border-top: 1px solid;
		}
	}
}

.c-section-blocks {
	@include suffixcate {
		&__section + &__section {
			border-color: $color-alpha-10;
		}
	}
}


@import "05-components_intrinsic-ratios";
@import "05-components_ctas";
@import "05-components_forms";
@import "05-components_headers-and-titles";
@import "05-components_navigational";
