$bp-1: $max-width + ($default-space * 4); // max-width + global gutters

$bp-large: 47.500rem; // 760 - where grid has major change

$bp-spaces: 25.556rem; // where default units get smaller from Unit Space library

$bp-medium: $max-width - ($default-space * 2); // 1060 = atg bp#2 (mobile)
$bp-medium-1: $bp-large; // 600px
$bp-medium-2: $max-width - ($default-space * 2); // 740
$bp-2: $bp-medium;

// Suffixcate variables
$suffixcate_bp: $bp-large;
$suffixcate_bp-medium: $bp-medium-1 $bp-medium-2;
$suffixcate_bp-all: ($suffixcate_bp $suffixcate_bp-medium);
