%label-shared {
	cursor: pointer;
}

.c-label {
	@extend %label-shared;
}



.c-input, .c-textarea {
	box-shadow: none;
	appearance: none;
}

.c-input {
	line-height: 1;
}

.c-select {
	&:not(.u-char-before), &:not(.u-char-after) {
		position: relative;
	}

	&:not(.u-full) {
		display: inline-block;
	}

	&__text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		z-index: 0;
		text-align: center;
		width: rem(40);
	}

	&__input {
		display: block;
		width: 100%;
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		position: relative;
		z-index: 1;
		cursor: pointer;

		&::-ms-expand {
			display: none;
		}

		&:active, &:focus {
			& + .c-select__text {
				&:after {
				}
			}
			& + .c-select--highlight {
				height: rem(2);
				position: absolute;
				bottom: rem(-2);
				left: rem(-1);
				right: rem(-1);
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
			}
		}
	}
}

.c-textarea {
	line-height: 1.5;

	&--default {
		overflow: hidden;
		resize: none;
	}
}



.c-field-toggle {
	position: relative;

	&__input {
		margin: 0;
		opacity: 0;
		width: 0;
	}

	&__text, &__label {
		@extend %label-shared;

		&:before, &:after {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			content: "";
		}

		&:after {
			opacity: 0;
		}
	}

	&__input:checked + &__text:before, &__input:checked + &__label:before {
	}

	&__input:checked + &__text:after, &__input:checked + &__label:after {
		opacity: 1;
	}

	&__input[disabled], &__input[disabled]:checked, &__input[disabled] + &__text, &__input[disabled] + &__label {
		@include disable-select;
		cursor: default;
		cursor: not-allowed;
	}
}


.c-radio {
	&__input {
	}

	&__text {
		&:before, &:after {
			border-radius: 50%;
		}

		&:before {

		}

		&:after {
			content: "";
		}
	}
}


.c-checkbox {
	&__input {
	}

	&__text {
		&:before, &:after {
		}

		&:before {

		}

		&:after {
			@include glyph;
		}
	}
}


/*
---
name: Fieldset
category: 5. Component > Form
---


Reset for `<fieldset>` to reduce `margin`s on side and it's `padding`.

```default.html

<fieldset class="c-fieldset">
••• form elements here •••
</fieldset>

```

*/

.c-fieldset {
	margin-right: 0;
	margin-left: 0;
	padding: 0;
}

/*
---
name: Form Item
category: 5. Component > Form
---

Can be used with any structural element

```demo-1.html
<div class="c-form-item">
	<div class="c-form-item__label">
		<label for="demo-field-set">Label</label>
	</div>
	<div class="c-form-item__field">
		<input name="demo-field-set" id="name="demo-field-set"" />
	</div>
</div>

```

```demo-2.html
<div class="c-form-item">
	<label for="demo-field-set">Label</label>
	<input class="c-form-item__field" name="demo-field-set" id="name="demo-field-set"" />
</div>

```
*/

.c-form-item {
	&__label {
		position: relative;
		margin-bottom: $default-space / -2;
		z-index: 1;
	}

	&__field {
		z-index: 0;
	}
}