.c-intrinsic {
	@include suffixcate {
		position: relative;
		height: 0;

		&__element {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}

		@include intrinsic-size-maker(1, 1);
		@include intrinsic-size-maker(2, 1);
		@include intrinsic-size-maker(4, 3);
		@include intrinsic-size-maker(16, 9);
		@include intrinsic-size-maker(400, 150, "feature");

		&--intro {
			padding-bottom: percentage(200/1024);
		}
	}

	&--square {
		@include suffixcateExtend(('.c-intrinsic--1x1'));
	}


	@include intrinsic-size-maker(16, 9, "video");
}
