/*
---
name: Position Alignment
category: 6. Trumps > Extras
---

Options for `top`, `right`, `bottom`, `left` CSS properties being set to `0`

*  Contains [Suffixcate](/#suffixcate) options

Options:
* `.u-1` or `.u-top`: `top: 0;`
* `.u-2` or `.u-right`: `right: 0;`
* `.u-3` or `.u-bottom`: `bottom: 0;`
* `.u-4` or `.u-left`: `left: 0;`


```demo.html
<div class="u-pos-r u-space-lg" style="height: 50px;">
	<div class="u-pos-a u-2 u-4">
		•••
	</div>
</div>
```
*/


.u-1, .u-top {
	@include suffixcate {
		top: 0;
	}
}

.u-2, .u-right {
	@include suffixcate {
		right: 0;
	}
}

.u-3, .u-bottom {
	@include suffixcate {
		bottom: 0;
	}
}
.u-4, .u-left {
	@include suffixcate {
		left: 0;
	}
}




/*
---
name: List > List
category: 6. Trumps > Extras
---

Remove extra padding of a `<ul>`, `<ol>` and `<dl>` to be left aligned with content


*  Contains [Suffixcate](/#suffixcate) options


```demo.html
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis quasi nulla praesentium, veniam eius. Laborum beatae quod nihil laboriosam.
</p>
<ul class="u-list">
	<li>
		•••
	</li>
	<li>
		•••
	</li>
	<li>
		•••
	</li>
	<li>
		•••
	</li>
</ul>
```
*/


.u-list {
	@include suffixcate {
		padding-left: 1rem;
	}
}


/*
---
name: List > Unlist
category: 6. Trumps > Extras
---

Resets list to remove styling and spacing (margin and padding)


*  Contains [Suffixcate](/#suffixcate) options


```demo.html
<span>pneumonoultramicroscopicsilicovolcanoconiosis</span>
```
*/
.u-unlist {
	@include suffixcate {
		@include unlist;
	}
}

/*
---
name: Wordbreak
category: 6. Trumps > Extras
---

Adds `word-break: break-all;`


*  Contains [Suffixcate](/#suffixcate) options


*/


.u-w {
	@include suffixcate {
		word-break: break-all;
	}
}

/*
---
name: Wnite-space / Word Wrap
category: 6. Trumps > Extras
---

Adds `white-space` properties, two options `nowrap` and `break-all`


*  Contains [Suffixcate](/#suffixcate) options
* `-children` Suffix: Add suffix to apply to all children

`.u-nw` No Wrap
```demo.html
<span class="u-nw">pneumonoultramicroscopicsilicovolcanoconiosis</span>
```

`.u-nw-children` No Wrap Children
```demo.html
<ul class="u-list u-nw-children">
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
</ul>
```

`.u-bw` Break Word
```demo.html
<span class="u-br">pneumonoultramicroscopicsilicovolcanoconiosis</span>
```

`.u-br-children` Break Word Children
```demo.html
<ul class="u-list u-br-children">
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
	<li>
		pneumonoultramicroscopicsilicovolcanoconiosis
	</li>
</ul>
```

*/

.u-nw {
	@include suffixcate {
		white-space: nowrap;
	}

	&-children {
		@include suffixcate {
			* {
				white-space: nowrap;
			}
		}
	}
}

.u-bw {
	@include suffixcate {
		word-break: break-all;
	}

	&-children {
		@include suffixcate {
			* {
				word-break: break-all;
			}
		}
	}
}



/*
---
name: Veritcal Alignment
category: 6. Trumps > Extras
---

Adds `vertical-align` properties, two multiple options: `top`, `middle`, `bottom`


*  Contains [Suffixcate](/#suffixcate) options
* `-before` Suffix: Add suffix to apply to all children, applies alignment on `:before`
* `-after` Suffix: Add suffix to apply to all children, applies alignment on `:after`
* `.u-va-t`: Vertical align top
* `.u-va-m`: Vertical align middle
* `.u-va-b`: Vertical align bottom
* `.u-va-t-before`: Vertical align top on `:before`
* `.u-va-t-after`: Vertical align top on `:after`
* `.u-va-m-before`: Vertical align tomiddlep on `:before`
* `.u-va-m-after`: Vertical align middle on `:after`
* `.u-va-b-before`: Vertical align bottom on `:before`
* `.u-va-b-after`: Vertical align bottom on `:after`

*/

.u-va-t {
	@include suffixcate {
		vertical-align: top;
	}

	&-before {
		@include suffixcate {
			&:before {
				vertical-align: top;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				vertical-align: top;
			}
		}
	}
}

.u-va-m {
	@include suffixcate {
		vertical-align: middle;
	}

	&-before {
		@include suffixcate {
			&:before {
				vertical-align: middle;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				vertical-align: middle;
			}
		}
	}
}

.u-va-b {
	@include suffixcate {
		vertical-align: bottom;
	}

	&-before {
		@include suffixcate {
			&:before {
				vertical-align: bottom;
			}
		}
	}

	&-after {
		@include suffixcate {
			&:after {
				vertical-align: bottom;
			}
		}
	}
}


%display-hidden {
	@include suffixcate {
		display: none;
	}
}

%u-speak-none {
	@include suffixcate {
		speak: none;
	}
}

/*
---
name: Speak None
category: 6. Trumps > Extras
---

Adds `speak: none` properties with `.u-speak-none` class


*  Contains [Suffixcate](/#suffixcate) options


*/

.u-speak-none {
	@extend %u-speak-none;

	&\@large {
		@extend %u-speak-none\@large !optional;
	}

	&\@small {
		@extend %u-speak-none\@small !optional;
	}
}

.u-dis-none {
	@extend %u-speak-none;
	@extend %display-hidden;

	@include suffixcate {
		speak: none;
		display: none;
	}
}


%clear-setup {
	clear: both;
}

%clear-after-setup {
	&:after {
		@extend %clear-setup;
		display: table;
		content: "";
	}
}



%f-r {
	float: right;
}

/*
---
name: Float > Right
category: 6. Trumps > Extras
---

Adds `float: right` properties with `.u-f-r` class, apply to children with `.u-f-r-children` 

*/

.u-f-r {
	@extend %f-r;

	&-children {
		@extend %clear-after-setup;

		> * {
			@extend %f-r;
		}
	}
}

%f-l {
	float: left;
}

/*
---
name: Float > Left
category: 6. Trumps > Extras
---

Adds `float: right` properties with `.u-full` class

*  Contains [Suffixcate](/#suffixcate) options


*/

.u-f-l {
	@extend %f-l;

	&-children {
		@extend %clear-after-setup;

		> div, > li, > span {
			@extend %f-l;
		}
	}
}


/*
---
name: Full Width
category: 6. Trumps > Extras
---

Adds `width: 100%` properties with `.u-f-r` class, apply to children with `.u-f-r-children` 

Options:
* `.u-full`: Full width with `width: 100%`
* `.u-full-max`: Full width with `max-width: 100%`
* `.u-full-min`: Full width with `min-width: 100%`

*/

.u-full {
	@include suffixcate {
		width: 100%;
	}

	&-max {
		@include suffixcate {
			max-width: 100%;
		}
	}

	&-min {
		@include suffixcate {
			min-width: 100%;
		}
	}
}

img, textarea, span, label, aside, main {
	&.u-full {
		display: block;

		&\@large {
			@media screen and (min-width: $bp-large) {
				display: block;
			}
		}

		&\@small {
			@media screen and (max-width: $bp-large) {
				display: block;
			}
		}
	}
}


/*
---
name: Round
category: 6. Trumps > Extras
---

Adds `border-radius: 50%` making element a circle with `.u-round` 

Options:

*  Contains [Suffixcate](/#suffixcate) options
* `.u-full`: Full width with `width: 100%`
* `.u-full-max`: Full width with `max-width: 100%`
* `.u-full-min`: Full width with `min-width: 100%`

*/

.u-round {
	@include suffixcate {
		border-radius: 50%;
		overflow: hidden;
	}
}


/*
---
name: Padding Reset
category: 6. Trumps > Extras
---

Options for `padding-top`, `padding-right`, `padding-bottom`, `padding-left` CSS properties being set to `0`

*  Contains [Suffixcate](/#suffixcate) options

Options:
* `.u-space-0-1` `padding-top: 0;`
* `.u-space-0-2`: `padding-right: 0;`
* `.u-space-0-3`: `padding-bottom: 0;`
* `.u-space-0-4`: `padding-left: 0;`
*/

/*
---
name: Margin Reset
category: 6. Trumps > Extras
---

Options for `margin-top`, `margin-right`, `margin-bottom`, `margin-left` CSS properties being set to `0`

*  Contains [Suffixcate](/#suffixcate) options

Options:
* `.u-gutt-0-1` `margin-top: 0;`
* `.u-gutt-0-2`: `margin-right: 0;`
* `.u-gutt-0-3`: `margin-bottom: 0;`
* `.u-gutt-0-4`: `margin-left: 0;`
*/



.u-space-0-1 {
	@include suffixcate {
		padding-top: 0;
	}
}

.u-space-0-1 {
	@include suffixcate {
		padding-right: 0;
	}
}

.u-space-0-1 {
	@include suffixcate {
		padding-bottom: 0;
	}
}

.u-space-0-1 {
	@include suffixcate {
		padding-left: 0;
	}
}

.u-gutt-0-1 {
	@include suffixcate {
		margin-top: 0;
	}
}

.u-gutt-0-1 {
	@include suffixcate {
		margin-right: 0;
	}
}

.u-gutt-0-1 {
	@include suffixcate {
		margin-bottom: 0;
	}
}

.u-gutt-0-1 {
	@include suffixcate {
		margin-left: 0;
	}
}


/*
---
name: Margin Auto
category: 6. Trumps > Extras
---

Options for `margin-top`, `margin-right`, `margin-bottom`, `margin-left` CSS properties being set to `auto`

*  Contains [Suffixcate](/#suffixcate) options

Options:
* `.u-auto-1`, `.u-auto-top` `margin-top: auto;`
* `.u-auto-2`, `.u-auto-right`: `margin-right: auto;`
* `.u-auto-3`, `.u-auto-bottom`: `margin-bottom: auto;`
* `.u-auto-4`, `.u-auto-left`: `margin-left: auto;`
*/

.u-auto-1, .u-auto-top {
	@include suffixcate {
		margin-top: auto;
	}
}

.u-auto-2, .u-auto-right {
	@include suffixcate {
		margin-right: auto;
	}
}

.u-auto-3, .u-auto-bottom {
	@include suffixcate {
		margin-bottom: auto;
	}
}

.u-auto-4, .u-auto-left {
	@include suffixcate {
		margin-left: auto;
	}
}


/*
---
name: Center
category: 6. Trumps > Extras
---

Options for `margin-right` and `margin-left` CSS properties being set to `auto` with `.u-center`

*  Contains [Suffixcate](/#suffixcate) options

*/

.u-center {
	@include suffixcateExtend(('.u-auto-r'));
	@include suffixcateExtend(('.u-auto-l'));
}

/*
---
name: Visually Hidden
category: 6. Trumps > Extras
---

Hides content but makes it legible by screen readers (for accessibility), add `.u-vis-0`

*  Contains [Suffixcate](/#suffixcate) options

*/


.u-vis-0 {
	@include suffixcate {
		position: absolute;
		top: -3125rem;
		left: -3125rem;
		font-size: 0;
		height: 0;
		width: 0;
		overflow: hidden;
		visibility: none;
	}
}



%u-char-glyph {
	@include glyph;
}

%u-char-glyph-default {
	width: rem(40);
	text-align: center;
}

/*
---
name: Text decoration
category: 6. Trumps > Extras
---

Options for `text-decoration` and `margin-left` CSS property

*  Contains [Suffixcate](/#suffixcate) options
* `.u-td-none`: `text-decoration: none;`
* `.u-td`: `text-decoration: underline;`

*/

.u-td-none {
	text-decoration: none;
}

.u-td {
	text-decoration: underline;
}


/*
---
name: Borders > Thin
category: 6. Trumps > Extras
---

Options for `border`CSS property, inherits `color` value for border color

*  Contains [Suffixcate](/#suffixcate) options
* `.u-outline`: `border-top`, `border-right`, `border-bottom` and `border-left`,
* `.u-outline-1`: `border-top`
* `.u-outline-2`: `border-right`
* `.u-outline-3`: `border-bottom`
* `.u-outline-4`: `border-left`
* `.u-outline-1-3`: `border-top` and `border-bottom`
* `.u-outline-2-4`: `border-right` and `border-left`

*/


$u-outline-styles-base: 1px solid;
$u-outline-styles: ($default-space / 2) solid;
.u-outline {
	&-1 {
		@include suffixcate {
			border-top: $u-outline-styles;
		}
	}

	&-2 {
		@include suffixcate {
			border-right: $u-outline-styles;
		}
	}

	&-3 {
		@include suffixcate {
			border-bottom: $u-outline-styles;
		}
	}

	&-4 {
		@include suffixcate {
			border-left: $u-outline-styles;
		}
	}

	@include suffixcateExtend((".u-outline-1", ".u-outline-2", ".u-outline-3", ".u-outline-4"));

	&-1-3 {
		@include suffixcateExtend((".u-outline-1", ".u-outline-3"));
	}

	&-2-4 {
		@include suffixcateExtend((".u-outline-2", ".u-outline-4"));
	}
}


%u-border-color {
	@each $color, $values in $palette {
		&--#{$color} {
			@include suffixcate {
				border-color: unquote(nth($values, 1));
			}
		}
	}
}

%u-border-lg {
	@include suffixcate {
		@media screen and (min-width: $bp-spaces) {
			border-width: rem(10) !important;
		}

		@media screen and (max-width: $bp-spaces) {
			border-width: rem(5) !important;
		}
	}
}

/*
---
name: Borders > Thick
category: 6. Trumps > Extras
---

Options for `border`CSS property, inherits `color` value for border color

*  Contains [Suffixcate](/#suffixcate) options
* `.u-border`: `border-top`, `border-right`, `border-bottom` and `border-left`
* `.u-border-lg`: Thicker border
* `.u-border-1`: `border-top`
* `.u-border-1-lg`: Thicker border
* `.u-border-2`: `border-right`
* `.u-border-2-lg`: Thicker border
* `.u-border-3`: `border-bottom`
* `.u-border-3-lg`: Thicker border
* `.u-border-4`: `border-left`
* `.u-border-4-lg`: Thicker border
* `.u-border-1-3`: `border-top` and `border-bottom`
* `.u-border-1-3-lg`: Thicker border
* `.u-border-2-4`: `border-right` and `border-left`
* `.u-border-2-4-lg`: Thicker border

* `.u-border-children`: add `border-top`, `border-right`, `border-bottom` and `border-left` to children

*/


.u-border {
	&-1 {
		@include suffixcate {
			border-top: $u-outline-styles-base;
		}

		&-lg {
			@include suffixcateExtend(('%u-border-lg'));
		}
	}

	&-2 {
		@include suffixcate {
			border-right: $u-outline-styles-base;
		}

		&-lg {
			@include suffixcateExtend(('%u-border-lg'));
		}
	}

	&-3 {
		@include suffixcate {
			border-bottom: $u-outline-styles-base;
		}

		&-lg {
			@include suffixcateExtend(('%u-border-lg'));
		}
	}

	&-4 {
		@include suffixcate {
			border-left: $u-outline-styles-base;
		}

		&-lg {
			@include suffixcateExtend(('%u-border-lg'));
		}
	}

	@include suffixcateExtend((".u-border-1", ".u-border-2", ".u-border-3", ".u-border-4"));

	&-1-3 {
		@include suffixcateExtend((".u-border-1", ".u-border-3"));
	}

	&-2-4 {
		@include suffixcateExtend((".u-border-2", ".u-border-4"));
	}

	&-lg {
		@include suffixcateExtend((".u-border-1-lg", ".u-border-2-lg", ".u-border-3-lg", ".u-border-4-lg"));
	}
}

/*
---
name: Minimal Click Area
category: 6. Trumps > Extras
---

Add minimum "click area" for a call to action for accessibility reasons, apply `.u-min-click` (`min-width` and `min-height` of `40px`)

*/

.u-min-click {
	min-width: 40px;
	min-height: 40px;
}

/*
---
name: Disable Select
category: 6. Trumps > Extras
---

Remove select ability with `.u-disable-select`

*/

.u-disable-select {
	@include disable-select;
}

/*
---
name: Object Fit
category: 6. Trumps > Extras
---

Add `object-fit` with:

* `.u-o-f`, `.u-of-cover`, `u-object-fit-cover`

*/

.u-o-f, .u-of-cover, u-object-fit-cover {
	object-fit: cover;
}


/*
---
name: Order
category: 6. Trumps > Extras
---

Requires parent container to have either `display: flex;` or `display: grid;`.

*  Contains [Suffixcate](/#suffixcate) options available for all options and utility versions;

Options:
* `.u-order-0`: `order: 0;`
* `.u-order-1`: `order: 1;`
* `.u-order-1-neg`: `order: -1;`
* `.u-order-2`: `order: 2;`
* `.u-order-2-neg`: `order: -2;`
* `.u-order-3`: `order: 3;`
* `.u-order-3-neg`: `order: -3;`
* `.u-order-4`: `order: 4;`
* `.u-order-4-neg`: `order: -4;`
* `.u-order-5`: `order: 5;`
* `.u-order-5-neg`: `order: -5;`
* `.u-order-6`: `order: 6;`
* `.u-order-6-neg`: `order: -6;`
* `.u-order-7`: `order: 7;`
* `.u-order-7-neg`: `order: -7;`
* `.u-order-8`: `order: 8;`
* `.u-order-8-neg`: `order: -8;`
* `.u-order-9`: `order: 9;`
* `.u-order-9-neg`: `order: -9`
* `.u-order-10`: `order: 10;`
* `.u-order-10-neg`: `order: -10;`
* `.u-order-11`: `order: 11;`
* `.u-order-11-neg`: `order: -11;`
* `.u-order-12`: `order: 12;`
* `.u-order-12-neg`: `order: -12;`


```demo.html
<div class="o-flex>
	<div class="u-order-12">
		1
	</div>
	<div class="u-order-2-neg@large">
		2
	</div>
	<div>
		3
	</div>
	<div class="u-order-2@small">
		4
	</div>
</div>
```

*/

@for $i from 0 through 12 {
	.u-order-#{$i} {
		@include suffixcate {
			order: $i;
		}
	}

	@if ($i != 0) {
		.u-order-#{$i}-neg {
			@include suffixcate {
				order: -$i;
			}
		}
		
	}
}