/*
---
name: Alignment
category: 6. Trumps > Typography
---

Text alignments with `text-align` helper classes

Additional options:
*  Contains [Suffixcate](/#suffixcate) options.

`.u-a-r`: Right align
```uar.html
<p class="u-a-r">
	Lorem ipsum.
</p>
```

`.u-a-c`: Center align
```uar.html
<p class="u-a-c">
	Lorem ipsum.
</p>
```

`.u-a-l`: Left align
```ual.html
<p class="u-a-l:>
	Lorem ipsum.
</p>
```
`.u-a-j`: Justifu align
```uar.html
<p class="u-a-r">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis quasi nulla praesentium, veniam eius. Laborum beatae quod nihil laboriosam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit debitis quasi nulla praesentium, veniam eius. Laborum beatae quod nihil laboriosam.
</p>
```

*/


.u-a-l {
	@include suffixcate {
		text-align: left;
	}
}

.u-a-c {
	@include suffixcate  {
		text-align: center;
	}
}

.u-a-r {
	@include suffixcate {
		text-align: right;
	}
}
.u-a-j {
	@include suffixcate {
		text-align: justify;
	}
}

/*
---
name: Uppercase
category: 6. Trumps > Typography
---

Text alignments with `text-transform` helper classes

Additional options:
*  Contains [Suffixcate](/#suffixcate) options.
* Variations can be used: `.u-emphasize` or `.u-upper`

`.u-emphasize`: Uppercase
```demo.html
<p class="u-emphasize">
	Lorem ipsum.
</p>
```


*/

.u-emphasize, .u-upper {
	@include suffixcate {
		text-transform: uppercase;
	}
}


/*
---
name: Italic
category: 6. Trumps > Typography
---

Text alignments with `font-style: italic` helper classes

Additional options:
*  Contains [Suffixcate](/#suffixcate) options.

`.u-italic`: Uppercase
```demo.html
<p class="u-italic">
	Lorem ipsum.
</p>
```
*/

.u-italic {
	font-style: italic;
}



/*
---
name: Font Weights
category: 6. Trumps > Typography
---

Control/override font weights, uses SASS variables from `01-brand/brand-core/_00-settings_typography.scss`

Additional options:
*  Contains [Suffixcate](/#suffixcate) options.


* Primary font bold: Apply `.u-bold`, `.u-b-bold`, `.u-bold-primary`, or `.u-bold-primary-bold` to make primary font bold weight
* Primary font normal: Apply `.u-bold-primary-normal`, `.u-b-normal` to make primary font normal weight
* Primary font light: Apply `.u-bold-primary-light`, `.u-b-light` to make primary font normal weight

* Secondary font bold: Apply `.u-bold-secondary`, `.u-bold-secondary-bold` to make secondary font bold weight
* Secondary font normal: Apply `.u-bold-secondary-normal` to make secondary font normal weight
* Secondary font light: Apply `.u-bold-secondary-light` to make secondary font normal weight

*/

.u-bold, .u-b-bold, .u-bold-primary, .u-bold-primary-bold {
	font-weight: $primary-bold;
}

.u-bold-primary-normal, .u-b-normal {
	font-weight: $primary-normal;
}

.u-bold-primary-light, .u-b-light {
	font-weight: $primary-light;
}


.u-bold-secondary, .u-bold-secondary-bold {
	font-weight: $secondary-bold;
}

.u-bold-secondary-normal {
	font-weight: $secondary-normal;
}

.u-bold-secondary-light {
	font-weight: $secondary-light;
}
