/*
---
name: Trumps > Webfonts
category: Glyphs
---

Webfonts are can be custom created using [Icomoon](http://icomoon.io/app/). 

Reference to glyphs are found [here](/assets/webfont/demo.html)

Core glyphs are located in `~/assets/fonts/webfont`. Update by uploading the `selection.json` to [Icomoon app](http://icomoon.io/app/).

*/

@font-face {
	font-family: 'webfont';
	src:url('/assets/fonts/webfont/fonts/webfont.eot');
	src:url('/assets/fonts/webfont/fonts/webfont.eot') format('embedded-opentype'),
		url('/assets/fonts/webfont/fonts/webfont.woff') format('woff'),
		url('/assets/fonts/webfont/fonts/webfont.ttf') format('truetype'),
		url('/assets/fonts/webfont/fonts/webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

%glyph-shared {
	@include suffixcate {
		@include glyph;
		white-space: nowrap;
	}
}

%glyph-pseudo-shared {
	@include suffixcate {
		content: attr(data-icon);
	}
}

%glyph-pseudo-no-speak {
	@include suffixcate {
		speak: none;
	}
}

.u-glyph {
	@include suffixcateExtend(('%glyph-shared'));

	&--no-speak {
		@extend %glyph-pseudo-no-speak;
	}

	&-before {
		&[data-icon] {
			&:before {
				@extend %glyph-pseudo-shared;
			}
		}

		&:before {
			@extend %glyph-shared;
		}

		&--no-speak {
			&:before {
				@extend %glyph-pseudo-no-speak;
			}
		}

		&\@large {
			&[data-icon] {
				&:before {
					@extend %glyph-pseudo-shared\@large !optional;
				}
			}

			&:before {
				@extend %glyph-shared\@large !optional;
			}

			&--no-speak {
				&:before {
					@extend %glyph-pseudo-no-speak\@large !optional;
				}
			}
		}

		&\@small {
			&[data-icon] {
				&:before {
					@extend %glyph-pseudo-shared\@small !optional;
				}
			}

			&:before {
				@extend %glyph-shared\@small !optional;
			}

			&--no-speak {
				&:before {
					@extend %glyph-pseudo-no-speak\@small !optional;
				}
			}
		}
	}

	&-after {
		&[data-icon] {
			&:after {
				@extend %glyph-pseudo-shared;
			}
		}

		&:after {
			@extend %glyph-shared;
		}

		&--no-speak {
			&:after {
				@extend %glyph-pseudo-no-speak;
			}
		}

		&\@large {
			&[data-icon] {
				&:after {
					@extend %glyph-pseudo-shared\@large !optional;
				}
			}

			&:after {
				@extend %glyph-shared\@large !optional;
			}

			&--no-speak {
				&:after {
					@extend %glyph-pseudo-no-speak\@large !optional;
				}
			}
		}

		&\@small {
			&[data-icon] {
				&:after {
					@extend %glyph-pseudo-shared\@small !optional;
				}
			}

			&:after {
				@extend %glyph-shared\@small !optional;
			}

			&--no-speak {
				&:after {
					@extend %glyph-pseudo-no-speak\@small !optional;
				}
			}
		}
	}
}