/*
---
name: Sass structure
category: 0. Base
---

All `~/global/*.scss` for core styles and base of components:

* `00-settings.scss` -  Global variables, config switches
* `01-tools.scss` - Default mixin and functions
* `02-generic.scss` - Ground-zero styles (normalize, resets, box-sizing)
* `03-elements.scss` - Unclassed HTML elements (Type selectors)
* `04-objects.scss` - Cosmetic-free design patterns, primarily structual components
* `04-trumps.scss` - Utility helper classes to extend and override styles of designed components


Follows methodology of ITCSS and each "layer" consists of Sass partials. It is recommended to make partials as specific as possible to allow for more easy of control.

*/


/*
---
name: Methodologies
category: 0. Base
---
* [OOCSS](https://code.tutsplus.com/tutorials/object-oriented-css-what-how-and-why--net-6986) - Object-oriented CSS
* [Namespace](http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/) - Prefix CSS classes for organization (o-, c-, u-, t-, _-, js-, qa-)
* [BEM](http://webdesign.tutsplus.com/articles/an-introduction-to-the-bem-methodology--cms-19403) - Organize code into blocks, elements and rules for modifications. Helps relate CSS to DOM. 
* [ITCSS](https://www.youtube.com/watch?v=1OKZOV-iLj4) - Core methodology to organize the CSS code. See "[Sass structure](/#display-4)"
* [BEMIT](http://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further) - BEM + ITCSS
* [Object-Oriented Typography](https://codepen.io/nicetransition/full/qbNbOE/) - Separate text-based elements by their structure, skin and context of text
* [Pipes and Stars in @class](https://csswizardry.com/2014/05/grouping-related-classes-in-your-markup/) - Grouping related classes in your markup using `||` to group similar classes together and `**` to identify "core" classes for a component
* [Color Naming Convention](https://codepen.io/nicetransition/full/QjwbRg/) - Naming convention and organization of colors

https://csswizardry.com/2017/05/writing-tidy-code/

*/


/*
---
name: Style Guide Layers
category: 0. Base
---

TODO:
* Add reference to theming and "Style Guide Layers"
* [Digital Branding in a Component Library: The Style Guide Layers](https://youtu.be/WxGNTf84v58)

*/



@import "01-tools_type-rems-to-ems"; // convert px to rem or em

// Basic configurations
$includeResets: false;

/// SETTINGS: Global variables, config switches
$default-space: 1.250rem;
$max-width: 90rem; // 1440
$content-max-width: 53.75rem;// 860px
$content-width: 49.875rem - ($default-space * 2);// 758px (iPad width - gutters)
$min-width: 18.438rem;
$border-radius: 0;


@import "00-settings_bps";
@import "00-settings_colors"; // generated from `gulp colors` task in `./gulpfile.js`
@import "00-settings_typography";
@import "00-settings_unit-library";
