// SETTINGS: Global variables, config switches
@import "00-settings";

// TOOLS: Default mixin and functions
@import "01-tools";

// ELEMENTS: Unclassed HTML elements (Type selectors)

body {
	font-family: $primary-font;
	font-size: $primary-font;;
	
	line-height: (22/16);
}


@import "03-elements_unit-resets";
