$rootFontSize: 16px;

$primary-font: 'Arial', sans-serif;
$primary-bold: bold;
$primary-normal: bold;
$primary-light: bold;

$seconary-font: 'Georgia', serif;
$seconary-bold: bold;
$seconary-normal: bold;
$seconary-light: bold;

/*
---
name: Font Sizes
category: Typography
---

@if ($includeResets == true) {
Font-size Reset on <h1>-<h6> are reset to to 1rem in `_02-generic_resets.scss`
}

Read [Object-Oriented Typography](https://codepen.io/nicetransition/pen/qbNbOE) for additional details

Types of buttons:
- Default: Standard button
- Primary: Provides extra visual weight and identifies the primary action in a set of buttons
- Success: Indicates a successful or positive action

```types.html
<button class="btn btn-default">Default</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
```
*/

$h0: 3rem; // 42
$em0: 3em;
$rem0: $h0;

$h1: 1.875rem; // 30px
$em1: 1.875em;
$rem1: $h1;

$h2: 1.5rem; // 24px
$em2: 1.5em;
$rem2: $h2;

$h3: 1.125rem; // 18px
$em3: 1.125em;
$rem3: $h3;

$h4: 1rem; // 16px
$em4: 1em;
$rem4: $h4;

$h5: 0.875rem; // 14px
$em5: 0.875em;
$rem5: $h5;

$h6: 0.719rem; // 12px
$em6: 0.719em;
$rem6: $h6;