@mixin button-animate-base {
	transition-property: background-color;
	will-change: background-color;
	transition-duration: 500ms;
	transition-timing-function: ease-out;
	transition-delay: 0;
}

@mixin button-animate-base-hover {
	transition-timing-function: ease-in;
	transition-duration: 150ms;
}

@mixin button-animate-base-active {
	transition-timing-function: ease-in-out;
	transition-duration: 10ms;
}

@mixin button-animate {
	// @include allChange($duration: 150ms, $property: background-color);
	// will-change: background-color;

	@include button-animate-base;

	&:hover, &:focus  {
		@include button-animate-base-hover;
	}

	&:active, &:active:hover, &:active:focus {
		@include button-animate-base-active;
	}
}


@mixin anchor-states {
	&:focus, &:hover {
		color: $anchor-hover;
	}

	&:active {
		color: $anchor-active;
	}
}

@mixin button-core-reset {
	font-family: $primary-font;
	outline: none;
}

@mixin button-base {
	@include button-core-reset;
	border: 0;
	cursor: pointer;
	text-decoration: none;
}

@mixin c-button--base {

	> span {
		display: block;
		line-height: 1.3;
	}
}

@mixin c-button--base-active {
	box-shadow: 0 0.125rem 0 rgba(0,0,0,.3) inset, 6.250rem 6.250rem 0 rgba(0,0,0,.1) inset;
}
