h1, h2, h3, h4, h5, h6, p, ul, ol, .c-form-legend, .c-form-fieldset {
	margin-top: 0;
	margin-bottom: 0;
}

%header-to-paragraph-space {
	padding-top: $default-space / 2;
}

%paragraph-to-paragraph-space {
	@extend %header-to-paragraph-space;
}

%header-to-header-space {
	padding-top: $default-space / 5;
}

h1, h2, h3, h4, h5, h6 {
	// & + p {
	// 	@extend %header-to-paragraph-space;
	// }

	// & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
	// 	@extend %header-to-header-space;
	// }

	// & + ul, & + ol {
	// 	@extend %header-to-paragraph-space;
	// }
}


ul, ol, p {
	line-height: 1.5;
	// line-height: 1.75;
}

ul, ol {
	// & + p {
	// 	@extend %paragraph-to-paragraph-space;
	// }

	// & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
	// 	@extend %header-to-paragraph-space;
	// }
}

p {
	// & + p, & + ul {
	// 	@extend %paragraph-to-paragraph-space;
	// }

	// & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
	// 	@extend %header-to-paragraph-space;
	// }

	& + p {
		padding-top: $default-space / 2;
	}
}
