%shared-across-all-form-items {
	@include shared-across-all-form-items;
}

[class*="c-form-"], button {
	//outline: none;
}

[class*="c-form-"] {
	//@include allChange($property: "background-color, border-color");
}


/*
---
name: Label
category: 5. Component > Form
---

Label can be used with `<label>` elements.

Types of labels:
- Default: No classes
- Base: `.c-label`
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`

```default.html
	<label>Label</label>
```

```base.html
	<label class="** c-label **">Label</label>
```

```t-form-1.html
	<input class="** c-label ** t-form-1">Label</label>
```

```t-form-2.html
	<input class="** c-label ** t-form-2">Label</label>

```
*/

%label-shared {
	cursor: pointer;
}

.c-label {
	@extend %label-shared;
}

@mixin placeholder-styles {
	font-size: $em4;
	font-family: $primary-font;

	line-height: 1;
}

@mixin placeholder-setup {
	&::-webkit-input-placeholder {
	   @include placeholder-styles;
	}

	&:-moz-placeholder {
	   @include placeholder-styles;
	}

	&::-moz-placeholder {
	   @include placeholder-styles;
	}

	&:-ms-input-placeholder {
	   @include placeholder-styles;
	}
}

/*
---
name: Input
category: 5. Component > Form
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```


/*
---
name: Textarea
category: 5. Component > Form
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```


/*
---
name: Select
category: 5. Component > Form
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```




.c-input, .c-textarea, .c-select {
	@extend %shared-across-all-form-items;
	@include placeholder-styles;
	border-top: none;
	border-right: none;
	border-bottom: rem(2) solid;
	border-left: none;
	border-radius: 0;
}

.c-input, .c-textarea {
	box-shadow: none;
	appearance: none;
}


@mixin placeholder-styles-input-and-text {
	font-size: rem(14) !important;
	line-height: 1.5 !important;
	padding-top: rem(2);
	color: red;
}

@mixin placeholder-styles-input-and-text-browsers  {
	&::-webkit-input-placeholder {
	   @include placeholder-styles-input-and-text;
	}

	&:-moz-placeholder {
	   @include placeholder-styles-input-and-text;
	}

	&::-moz-placeholder {
	   @include placeholder-styles-input-and-text;
	}

	&:-ms-input-placeholder {
	   @include placeholder-styles-input-and-text;
	}
}

.c-input {
	padding: rem(10) 0 rem(9);
	// text-indent: $default-space / 2;
	line-height: 1;

	@include placeholder-styles-input-and-text-browsers;
}

.c-select {
	&:not(.u-char-before), &:not(.u-char-after) {
		position: relative;
	}

	&:not(.u-full) {
		display: inline-block;
	}

	&__text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		z-index: 0;
		text-align: center;
		width: rem(40);

		&:after {
			content: "•";
		}
	}

	&__input {
		@extend %shared-across-all-form-items;
		display: block;
		width: 100%;
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		padding: rem(9) rem(40) rem(10) rem(0);
		position: relative;
		z-index: 1;
		cursor: pointer;

		&::-ms-expand {
			display: none;
		}

		&:active, &:focus {
			& + .c-select__text {
				&:after {
					// content: "x";
				}
			}
			& + .c-select--highlight {
				height: 2px;
				position: absolute;
				bottom: -2px;
				left: -1px;
				right: -1px;
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
				background-color: $color-secondary-accent;
			}
		}
	}
}

.c-textarea {
	min-height: rem(32);
	line-height: 1.5;
	padding-top: rem(20);
	// padding-right: rem(10);
	// padding-left: em(10);

	&--default {
		overflow: hidden;
		resize: none;
	}
}



/*
---
name: Radio > Toggle Field
category: 5. Component > Form
---


Intended to be used with `input[type="radio"]` and `input[type="checkbox"]`. Is the base styling to use with either form field types.

*/

// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```


.c-field-toggle {
	position: relative;

	&__input {
		margin: 0;
		opacity: 0;
		width: 0;
	}

	&__text, &__label {
		@extend %label-shared;

		&:before, &:after {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			border: 1px solid;
			content: "";
		}

		&:after {
			opacity: 0;
		}
	}

	&__text {
		padding-left: rem(25);

		&:before {
			width: rem(20);
			height: rem(20);
		}
	}

	&__label {
		&:before {
			width: em(20);
			height: em(20);
		}
	}

	&__input:checked + &__text:before, &__input:checked + &__label:before {
	}

	&__input:checked + &__text:after, &__input:checked + &__label:after {
		opacity: 1;
	}

	&__input[disabled], &__input[disabled]:checked, &__input[disabled] + &__text, &__input[disabled] + &__label {
		@include disable-select;
		cursor: default;
		cursor: not-allowed;
	}
}

/*
---
name: Radio
category: 5. Component > Form
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```

.c-radio {
	&__input {
		@extend %shared-across-all-form-items;
	}

	&__text {
		&:before, &:after {
			border-radius: 50%;
		}

		&:before {

		}

		&:after {
			content: "";
			background-color: currentColor;
			margin-top: rem(5);
			margin-left: rem(5);
			width: rem(10);
			height: rem(10);
		}
	}
}

/*
---
name: Checkbox
category: 5. Component > Form
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```

.c-checkbox {
	&__input {
		@extend %shared-across-all-form-items;
	}

	&__text {
		&:before, &:after {
		}

		&:before {

		}

		&:after {
			@include glyph;
			content: "X";
			text-align: center;
			width: rem(20);
		}
	}
}


/*
---
name: Fieldset
category: 5. Component > Form
---


Reset for `<fieldset>` to reduce `margin`s on side and it's `padding`.

*/
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```

.c-fieldset {
	margin-right: 0;
	margin-left: 0;
	padding: 0;
}

/*
---
name: Form Base
category: 5. Component > Form
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```
.c-form-item {
	&__label {
		position: relative;
	}

	&__label {
		// padding-bottom: $default-space / 4;
		margin-bottom: $default-space / -2;
		z-index: 1;
	}

	&__field {
		z-index: 0;
	}
}

/*
---
name: Label > Required
category: 5. Component > Form
---
*/

// Input can be used with `<input>` elements and all its types.
// 
// Types of labels:
// - Default: No classes
// - Disabled: No classes
// - Base: `.c-input`
// - Theme 1: `.t-form-1`
// - Theme 2: `.t-form-2`
// 
// ```default.html
// 	<label>Label</label>
// ```
// 
// ```base.html
// 	<label class="** c-label **">Label</label>
// ```
// 
// ```t-form-1.html
// 	<input class="** c-label ** t-form-1">Label</label>
// ```
// 
// ```t-form-2.html
// 	<input class="** c-label ** t-form-2">Label</label>
// 
// ```

.c-label__required {
	vertical-align: top;
}



/*
---
name: Input > Placeholder Styles
category: 5. Component > Form
---

`@mixin placeholder-styles-large` contains styles for inputs `@placeholder` attribute

Types of placeholders:
- Default: No classes
- Base: `.c-input`
- Theme 1: `.t-form-1`
- Theme 2: `.t-form-2`

```default.html
	<input placeholder="Placeholder" type="text" />
```

```base.html
	<input class="** c-input **" placeholder="Placeholder" type="text" />
```

```t-form-1.html
	<input class="** c-input ** t-form-1" placeholder="Placeholder" type="text"  />
```

```t-form-2.html
	<input class="** c-input ** t-form-2" placeholder="Placeholder" type="text"  />

```

*/

@mixin placeholder-styles-large {
	font-size: $h3;
	font-family: $primary-font;
	line-height: 1;
}

@mixin placeholder-setup-large {
	&::-webkit-input-placeholder {
	   @include placeholder-styles-large;
	}

	&:-moz-placeholder {
	   @include placeholder-styles-large;
	}

	&::-moz-placeholder {
	   @include placeholder-styles-large;
	}

	&:-ms-input-placeholder {
	   @include placeholder-styles-large;
	}
}


/*
---
name: Input > Search
category: 5. Component > Form
---

*/

.c-input-search {
	position: relative;

	&__btn, &__btn:before, &--large .c-input-search__btn:before {
		position: absolute;
	}

	&__btn {
		top: 3px;
		right: 3px;
		bottom: 4px;

		&:before {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&--large {
		@include placeholder-setup-large;

		.c-input {
			padding-top: $default-space;
			padding-bottom: $default-space;
			text-indent: $default-space;
		}

		.c-input-search__btn {
			padding-right: rem(30);
			padding-left: rem(30);
			border-left: 1px solid $color-light;

			&:hover {
				border-left-color: $color-secondary;
			}
		}
	}
}
