@font-face {
  font-family: 'webfont';
  src:  url('fonts/webfont.eot?rp4mcg');
  src:  url('fonts/webfont.eot?rp4mcg#iefix') format('embedded-opentype'),
    url('fonts/webfont.ttf?rp4mcg') format('truetype'),
    url('fonts/webfont.woff?rp4mcg') format('woff'),
    url('fonts/webfont.svg?rp4mcg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'webfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-arrow:before {
  content: "\76";
}
.icon-left-arrow:before {
  content: "\3c";
  color: #555;
}
.icon-right-arrow:before {
  content: "\3e";
  color: #555;
}
.icon-up-arrow:before {
  content: "\5e";
  color: #555;
}
.icon-arrow-left:before {
  content: "\7b";
  color: #979797;
}
.icon-arrow-right:before {
  content: "\7d";
  color: #979797;
}
.icon-info:before {
  content: "\69";
}
.icon-calendar:before {
  content: "\43";
}
.icon-help:before {
  content: "\3f";
}
.icon-facebook:before {
  content: "\46";
}
.icon-twitter:before {
  content: "\74";
}
.icon-instagram:before {
  content: "\49";
}
.icon-snapchat-ghost:before {
  content: "\53";
}
.icon-search:before {
  content: "\73";
}
.icon-menu:before {
  content: "\3d";
}
.icon-check2:before {
  content: "\59";
}
.icon-close:before {
  content: "\79";
}
.icon-remove:before {
  content: "\79";
}
.icon-map-marker:before {
  content: "\4c";
}
